@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
h1,h2,h3,h4,h5,a,p,div {
  font-family: 'Poppins', sans-serif;
}
.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.login-form {
  width: 330px;
  margin: 20px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}

.errorClass {
  background: #e46d6d;
  color: #fff;
  display: block;
  font-size: 12px;
}
